/*Importamos la fuente Poppins de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Se usa tal que:      font-family: 'Poppins', sans-serif;*/

/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    word-break: break-word;
}

/*Declaramos variables en la raiz del documento*/
:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --second-color-green: #06884D;
    --tamaño-28-letra: 1.6em;
}

/*Separación para no ocultar contenido bajo el menú de navegación*/
.separacion-menu{
    height: 5rem;
}

/*Separación entre partes de la página*/
.separacion-contenido{
    height: 5rem;
}
.pequeña-separacion-contenido{
    height: 2rem;
}

/*Contenedor completo, wrapper de toda la monitorización*/
.wrapper {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 6rem;
    padding-top: 10%;
    padding-bottom: 15%;
}

/*------------------------------------------------------------------------------------------------*/

/*El estilo que tendrán las secciones hijas directas de body main y footer*/
body>section, main>section,footer>section{
    padding-left: 1.7em;
    padding-right: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*Margen de las secciones del main*/
main>section, body>section{
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

/*Estilos del body*/
body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color-white);
    color: var(--main-color-black);
    flex-direction: column;
}


/*------------------------------------------------------------------------------------------------*/


p {
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 1.4em;
}

h1 {
    font-weight: 500;
    font-size: 220%;
}

h2 {
    font-weight: 600;
    font-size: 140%;
    margin-bottom: 0.4em;
}

h3 {
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

/*------------------------------------------------------------------------------------------------*/


/*Estilos Inicio de sesion y formularios*/

/*---------------------------------------- Inicio de Sesión ------------------------------------*/

/* Estilos para el título de inicio de sesión */

#inicio-de-sesion-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    color: #333333;
    font-size: 0.8em;
    margin-top: 120px;
    margin-bottom: 0.7em;
    font-weight: 500;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para las secciones de email y contraseña */

#email,
#password {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 10vh;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para los labels */

.form-group label {
    display: flex;
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 0em;
    margin-top: 0em;
    color: #333333;
    font-weight: 400;
}


/*-----------------------------------------------------------------------------------------*/

/* Estilos para la sección de "¿Has olvidado la contraseña?" */

.contraseña-olvidada {
    display: flex;
    justify-content: flex-end;
}

.contraseña-olvidada a {
    font-size: 0.9em;
    margin-left: 0.7em;
    margin-bottom: 50px;
    margin-top: 0.7em;
    color: #06884D;
    font-weight: 600;
}
/*-----------------------------------------------------------------------------------------*/

/*Estilos para los botones de inicio de sesion y formularios*/

.boton-inicio {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

.boton-iniciar-sesion {
    width: 100%;
    height: 7%;
    border-radius: 1.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 140%;
    padding: 7px ;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para el enlace de "SOLICITAR ACCESO" */

#solicitar-acceso {
    text-align: center;
}

#solicitar-acceso p {
    margin-top: 0.7em;
    margin-bottom: 8.5em;
    font-size: 0.9em;
    color: #000000;
    font-weight: 400;
}

#solicitar-acceso a {
    color: #06884D;
    font-weight: 700;
}


/*-----------------------------------------------------------------------------------------*/



/*---------------------------------------- Formulario enviado------------------------------------*/


.formulario-enviado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.6em;
    margin-top: 225px;
    margin-bottom: 7em;
}

.boton-volver {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
    margin-top: 10em;

}



/*---------------------------------------- Formulario Contraseña Olvidada------------------------------------*/


.introduce-correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.8em;
    margin-top: 225px;
    margin-bottom: 10px;
}

.boton-enviar {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.parrafo{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 155px;
    margin-top: 10px;

}




/*--------------------------------------------Formulario de solicitud-------------------------------------------------*/

.solicitud-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.7em;
    margin-top: 100px;
    margin-bottom: 0px;
}


/*Estilos para la introduccion de datos*/

#email, #last-name,#name, #subject,#address {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 10vh;
    margin-bottom: 5px;
    margin-top: 0px;
}

#message{

    height: 28vh;

}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para los labels */

.datos label {
    display: flex;
    text-align: left;
    font-size: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #333333;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para los inputs */

.datos input {
    width: 100%;
    padding: 15px;
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 10px;
    border-width: 1px;
    font-family:'Poppins', sans-serif;
    text-align: left;
}

.datos input:focus {
    border-color: #06884D;
}


#message input {

    height: 180px;
    font-family:'Poppins', sans-serif;

}

#message input:focus {
    border-color: #06884D;
}

/*-----------------------------------------------------------------------------------------*/


/* Estilos para el checkbox */
#chekbox input[type="checkbox"] {
    margin-right: 5px;
    font-family:'Poppins', sans-serif;
}

/* Estilos para el texto del checkbox */
#chekbox label {
    font-size: 14px;
    color: #333333;
}


/*-----------------------------------------------------------------------------------------*/

/*---------------------------ESTILOS PARA TRABAJADORES-------------------------------------*/

/*Títulos comunes para trabajadores*/

.títulos-trabajadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    color: #333333;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 2em;

}

/*-----------El titulo de Notificaciones técnico,-----------------------------
 va separado para solucionar el problema de margenes entre desplegables---------*/

.titulo-notf-tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    color: #333333;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 3.5em;
    margin-bottom: 2em;

}

.dual-button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    width: 50%;
}

.dual-button {
    display: flex;
}

.left-button,
.right-button {
    flex: 1;
    height: 70%;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-button {
    border-radius: 0 10px 10px 0;
    width: 10%;
}

.left-button {
    border-radius: 10px 0 0 10px;
    width: 10%;
}

.left-button.active,
.right-button.active {
    background-color: #06884D;
    color: white;
}

.left-button:not(.active):hover,
.right-button:not(.active):hover {
    background-color: #06884D;
    color: white;
}

.hidden {
    display: none;
}



.acordeon {
    max-width: 1000px;
    margin: 1rem auto;
}

.acordeon-item {
    background-color: #06884D;
    color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.5);
}

.acordeon-item-header {
    padding: 0.5rem 1rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Fecha Desplegable Icono */
.acordeon-item-header::after {
    content: "\21D1";
    font-size: 2.5rem;
    margin-left: 0.3rem;
    align-self: center;
    transition: transform 0.2s ease-in-out;
}

.acordeon-item-header.active::after {
    transform: rotate(180deg);
}

.acordeon-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acordeon-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid white;
}

.seccion-registros{

}

.texto-desplegable-trabajadores{
    display: flex;
    flex: 1 1 0px;
    justify-content: space-evenly;
}

.acordeon-trabajador {
    max-width: 700px;
    margin: 0.5rem auto;
}

.close-icon{
    order: 10;
}


/* ACABA ESTILOS DE DESPLEGABLES */

.seccion-preguntas{
    margin-top: 2vh;

}

/*------------------------Comienza footer------------------------*/

.wrapper-footer {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*Estilo footer*/
#footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 9em;
    width: 100%;
    background-color: var(--second-color-green);
    color: var(--main-color-white);
}

/*Estilo que poseen los enlaces de politica de privacidad y condiciones, margenes entre cada uno */
#footer-bottom a{
    margin-right: 0.6em;
    margin-left: 0.6em;
}

#footer-bottom p {
    margin-top: 1em;
    margin-bottom: 0;
}
/*------------------------Termina footer------------------------*/
