/*Importamos la fuente Poppins de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Se usa tal que:      font-family: 'Poppins', sans-serif;*/

/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    word-break: break-word;
}

/*Declaramos variables en la raiz del documento*/
:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --second-color-green: rgb(6, 136, 77);
    --tamaño-28-letra: 1.6em;
}

/*Separación para no ocultar contenido bajo el menú de navegación*/
.separacion-menu{
    height: 5rem;
}

/*Separación entre partes de la página*/
.separacion-contenido{
    height: 4rem;
}
.pequeña-separacion-contenido{
    height: 2rem;
}

/*Contenedor completo, wrapper de toda la monitorización, no lleva el margin top 12vh en landing*/
.wrapper {
    padding-left: 7%;
    padding-right: 7%;
}

/*------------------------Comienza QUIENES SOMOS------------------------*/
#quienes-somos-page {
    height: 55vh;
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0px solid grey;

}

/* Añadir fondo verde de contraste predeterminado del proyecto */
#fondo-contraste-sobre-nosotros{
    background-color: var(--second-color-green);
    height: 50rem;
    border: 0px solid blue;
}

/* Secciones de la Página Sobre Nosotros */
/* Sección de Visión */
.seccion-vision {
    color: var(--main-color-white);
    height: 24rem;
    margin-top: 2vh;
    border: 0px solid black;
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* Deslizable de tarjetas de Sobre Nosotros (transparencia, pasión, etc) */
#deslizable-imagenes-sobre-nosotros{
    border: 0px solid black;
    text-align: center;
    border-radius: 1.1em;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.5);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Todas las imágenes de la sección de Visión */
#imagenes-vision{
    height: 13em;
    border-radius: 1.1em;
    display: flex;
    width: 19em;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify-all;
    align-items: center;
    border: 0px solid black;
    margin: 0 auto;
}

/* Estilo imágenes página Sobre Nosotros */
.imagenes-sobre-nosotros {
    height: 13em;
    border-radius: 1.1em;
    display: flex;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify-all;
    align-items: center;
}

/* Sección de Valores */
#seccion-valores{
    display: flex;
    border: 0px solid yellow;
    justify-content: space-between;
}

.imagenes-vision {
    height: 13em;
    border-radius: 1.1em;
    display: flex;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify-all;
    align-items: center;
}

.contenedor-resenyas-deslizables{
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    border-radius: 1.1em;
    display: none;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem 1rem;
    text-align: center;
}

.contenedor-cabecera-valores{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    align-items: center;
}

/*------------------------Termina QUIENES SOMOS------------------------*/

/* SELECTOR DE IMÁGENES PRODUCTO */
/* Esconde las imágenes por defecto */
.mySlides {
    display: none;
}

/* Características de las imágenes mostradas del selector */
.image-selector {
    width: 100%;
    height: 6%;
    border-radius: 1.1em;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    margin-bottom: 3em;

}

/* Fila de imágenes del selector */

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 2em;
}

/* Crea seis columnas en la fila para las seis imágenes del selector */
.column {
    float: left;
    width: 16.66%;
    padding: 0 5px;
    height: 4em;
}

/* Características de las imágenes inferiores de selección */
.demo {
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 1.1em;
    max-width: 100%;
    align-content: center;
    justify-content: center;
}

/* Características cuando se selecciona una imagen inferior del selector */
.demo:hover {
    opacity: 1;
    box-shadow: 0px 3px 6px 0 rgba(0,0,0,0.6);
}

/* ACABA SELECTOR DE IMÁGENES PRODUCTO */

/*------------------------COMIENZA PRODUCTO------------------------*/

/*Contenedor completo, wrapper de producto,  lleva el margin top 12vh*/
.wrapper-producto {
    margin-top: 12vh;
    padding-left: 7%;
    padding-right: 7%;
}

/* Página del Producto */
#producto-page{
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

/* Botones de la página de Producto */
.boton-producto {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Características de la sección de preguntas frecuentes */
.seccion-preguntas{
    margin-top: 4vh;
}

/*------------------------ACABA PRODUCTO------------------------*/


/*------------------------COMIENZA ADMINISTRADOR WEB------------------------*/

.seccion-registros{

}

.seccion-actualizaciones{

}

.acordeon-trabajador {
    max-width: 1000px;
    margin: 0.5rem auto;
}


/*------------------------ACABA ADMINISTRADOR WEB------------------------*/


/* COMIENZA ESTILOS DE DESPLEGABLES */

.acordeon {
    max-width: 1000px;
    margin: 2rem auto;
}

.acordeon-item {
    background-color: #06884D;
    color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.5);
}

.acordeon-item-header {
    padding: 0.5rem 1rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Fecha Desplegable Icono */
.acordeon-item-header::after {
    content: "\2191";
    font-size: 1.9rem;
    margin-left: 0.3rem;
    align-self: center;
    transition: transform 0.2s ease-in-out;
}

.acordeon-item-header.active::after {
    transform: rotate(180deg);
}

.acordeon-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acordeon-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid white;
}

/* ACABA ESTILOS DE DESPLEGABLES */

p {
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 1.4em;
}

h1 {
    font-weight: 800;
    font-size: 220%;
}

h2 {
    font-weight: 600;
    font-size: 140%;
    margin-bottom: 0.4em;
}

h3 {
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

/*Estilo botones verdes y blancos como CTA*/
.boton-verde-blanco {
    text-align: center;
    align-content: center;
    width: 72%;
    height: 7%;
    border-radius: 3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 170%;
    padding: 0.1em 0.1em;
}

/*Botón saber mas clase estilo*/
#contenedor-boton-saber-mas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 92%;
}

/*Estilo para los párrafos SemiBold de un poco más de tamaño que los párrafos estándar*/
.parrafo-negrita {
    font-size: 110%;
    font-weight: 600;
}

/*Estilo imágenes de la landing page*/
.imagenes-landing {
    height: 6%;
    border-radius: 1.1em;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    margin-bottom: 3em;
}

/*Margen de las secciones del main*/
main>section, body>section{
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}


/*Estilos del body*/
body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color-white);
    color: var(--main-color-black);
    flex-direction: column;
}
/*------------------------Comienza landing page hero------------------------*/
/*Estilo de la sección hero donde esta el CTA, primera pantalla de la landing page*/
#landing-page-hero {
    margin-top: 12vh;
    height: 88vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url("../images/landing-hero.png");/*url("../images/8105c4aac55cf49fa54e3ca0a81f0e8a.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Margenes para el parrafo de la hero, */
#landing-page-hero p{
    margin-top: 1em;
    margin-bottom: 6em;
}
/*------------------------Termina landing page hero------------------------*/

/*------------------------Comienza seccion mantenimiento------------------------*/
/*Estilo de la seccion de mantenimiento en la landing page*/
#seccion-mantenimiento {
    background-color: var(--second-color-green);
    color: var(--main-color-white);
}
/*------------------------Termina seccion mantenimiento------------------------*/

/*------------------------Comienza reseñas------------------------*/

#seccion-resenyas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Contenedor para estrellas reseñas*/
#contenedor-estrellas-opiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 3em;
}

/*Estilo de las estrellas con la media de las reseñas de los usuarios, estrellas grandes*/
#estrellas-media-resenyas {
    height: 3.5em;
    max-width: 100%;
    margin-bottom: 0.5em;
}
/*Los parrafos de dentro del contenedor padre con las estrellas*/
#contenedor-estrellas-opiniones>p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

/*Estilo contenedor donde deslizan todos los paneles*/
.contenedor-resenyas-deslizables {
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    border-radius: 1.1em;
    display: none;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem 1rem;
    text-align: center;
}

/*Contenedor para la cabecera de cada reseña que desliza*/
.contenedor-cabecera-resenya {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 9%;
    justify-content: center;
}

/*Estilo del nombre de la persona dentro de cada resenya*/
.contenedor-cabecera-resenya p {
    margin-right: 0.6em;
}

/*Separacion del parrafo con el nombre de cada persona que pone reseña, con las estrellitas puestas a la derecha*/
.contenedor-cabecera-resenya>div {
    display: flex;
    justify-content: center ;
}

/*Estilo para las estrellas verdes especificas de cada reseña de usuarios*/
.estrellas-resenya-especifica {
    height: 1.7em;
}

/*Estilo contenedor botones deslizables reseñas*/
#contenedor-botones-deslizable-resenyas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.7em;
    justify-content: center;
}

/*Clase para cuando un elemento esta activo*/
.resenya-activa {
    display: flex;
}

/*Estilo botones pertenecen al contenedor de botones deslizables*/
#contenedor-botones-deslizable-resenyas>button{
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 50%;
    border: 0.11em var(--second-color-green) solid;
    background: var(--main-color-white);
    color: var(--second-color-green);
    font-weight: 1000;
    font-size: 1.2em;
    width: 2.4em;
    height: 2.4em;
}
/*------------------------Termina reseñas------------------------*/

/*------------------------Comienza footer------------------------*/

/*Wrapper para aplicar el padding al footer*/
.wrapper-footer {
    padding: 1em 7%;
}

/*Estilo footer*/
#footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 100%;
    width: 100%;
    background-color: var(--second-color-green);
    color: var(--main-color-white);
}

/*Estilo que poseen los enlaces de politica de privacidad y condiciones, margenes entre cada uno */
#footer-bottom a{
    margin-right: 0.6em;
    margin-left: 0.6em;
}

/*Margenes para el texto de copyrigth del footer*/
#footer-bottom p {
    margin-top: 1em;
    margin-bottom: 0;
}
/*------------------------Termina footer------------------------*/
