/*Importamos la fuente Poppins de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Se usa tal que:      font-family: 'Poppins', sans-serif;*/

/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/*Declaramos variables en la raiz del documento*/
:root {
    --main-bg-color: #ffffff;
    --main-fg-color: #000000;
}

/*Estilos del body*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/*Estilo de cada section*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1 {
   justify-content: center;
    align-content: center;
}