

/*Contenedor completo, wrapper de toda la monitorización, no lleva el margin top 12vh en landing*/
.wrapper {
    padding-left: 7%;
    padding-right: 7%;
}


/*Wrapper para los formularios e inicio de sesion*/
.wrapper-forms{
    margin-top: 12vh;
    padding: 10% 7% 15%;
    height: 100%;
}
/*------------------------------------------------------------------------------------------------*/

/*Estilo para el titulo h1 de los formularios*/
.h1-formularios-titulos {
    font-weight: 500;
    font-size: 1.9em;
}
/*------------------------------------------------------------------------------------------------*/

/*Estilos Inicio de sesion y formularios*/

/*---------------------------------------- Inicio de Sesión ------------------------------------*/

/* Estilos para el título de inicio de sesión */

#inicio-de-sesion-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--main-color-black);
    margin-bottom: 2.5em;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para las secciones de email y contraseña */

#email,
#password {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/

/* Estilos para la sección de "¿Has olvidado la contraseña?" */

.contraseña-olvidada {
    display: flex;
    justify-content: flex-end;
}

.contraseña-olvidada a {
    font-size: 0.9em;
    margin-left: 0.7em;
    margin-top: 0.7em;
    color: #06884D;
    font-weight: 600;
}
/*-----------------------------------------------------------------------------------------*/

/*Estilos para los botones de inicio de sesion y formularios*/

.boton-inicio {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.95em;
    margin-top: 2em;

}

.boton-iniciar-sesion {
    width: 100%;
    height: 7%;
    border-radius: 1.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 140%;
    padding: 7px ;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para el enlace de "SOLICITAR ACCESO" */

#solicitar-acceso {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
}

#solicitar-acceso p {
    font-size: 0.9em;
    color: #000000;
    font-weight: 400;
}

#solicitar-acceso a {
    color: #06884D;
    font-weight: 700;
}

/*-----------------------------------------------------------------------------------------*/

/*---------------------------------------- Formulario enviado------------------------------------*/
/*
.formulario-enviado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.6em;
    margin-top: 225px;
    margin-bottom: 7em;
}

.boton-volver {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
    margin-top: 10em;
}
*/
/*---------------------------------------- Formulario Contraseña Olvidada------------------------------------*/

.introduce-correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.8em;
    margin-top: 3.2em;
    margin-bottom: 10px;
}

.boton-enviar {
    flex-direction: column;
    align-content: center;
    text-align: justify-all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 35px;

}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 21.8vh;
    margin-top: 10px;
}

/*--------------------------------------------Formulario de solicitud-------------------------------------------------*/

#login-form {
    display: flex;
    flex-direction: column;
}
.solicitud-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333333;
    font-size: 0.9em;
    margin-bottom: 1em;

}

/*Estilos para la introduccion de datos*/

#email, #last-name,#name, #subject,#address {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 7vh;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}


/*-----------------------------------------------------------------------------------------*/

/* Estilos para los labels */

.datos label {
    display: flex;
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.3em;
    color: #333333;
}

/*-----------------------------------------------------------------------------------------*/

/* Estilos para los inputs */

.datos input {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9em;
    border-radius: 10px;
    border-width: 1px;
    font-family:'Poppins', sans-serif;
    text-align: left;
}

/*Estilo para el borde del input*/

.datos input:focus {
    outline: none;
    border: 2px #06884DFF solid;
}
/*Id del contenedor con el mensaje de texto grande del formulario de solicitud*/
#message {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

textarea {
    resize: none;
    width: 100%;
    padding: 15px;
    font-size: 0.9em;
    border-radius: 10px;
    border-width: 1px;
    font-family:'Poppins', sans-serif;
    text-align: left;
    height: 10em;
}

textarea:focus {
    outline: none;
    border: 2px #06884DFF solid;
}

.boton-enviar-formulario-solicitud-activo {
    width: 100%;
    height: 7%;
    border-radius: 1.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 140%;
    padding: 7px ;
}

.boton-enviar-formulario-solicitud-desactivado {
    width: 100%;
    height: 7%;
    border-radius: 1.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: gray;
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 140%;
    padding: 7px ;
}
/*-----------------------------------------------------------------------------------------*/

/*Estilo para el contenedor del checkbox */
#chekbox {
    display: flex;
    align-items: center;
}
/* Estilos para el input del checkbox*/
#chekbox input[type="checkbox"] {
    margin-right: 5px;
    font-family:'Poppins', sans-serif;
}

/* Estilos para el label al lado del checkbox, el texto de aceptar terminos */
#chekbox label {
    font-size: 1em;
    color: #333333;
}
#chekbox a {
    color: #06884D;
    font-weight: 700;
}
/*----------------------------------------------- Estilos para terminos y condiciones y politica de privacidad ------------------------------------------*/

/*Estilo general para la sección de los parrafos*/
.información{

    margin-bottom: 7em;

}
/*Estilo para el titulo principal de la web*/
.tituloPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 1vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.78em;
    margin-top: 13em;
    margin-bottom: 3em;
}


/*Estilo para cada seccion de información por separado*/
.seccionInformación{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;

}

/*Estilo para los titulos secundarios*/
.tituloSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 5vh;
    color: #333333;
    font-weight: lighter;
    font-size: 0.75em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Estilos para los parrafos de texto*/
.texto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-size: 0.8em;
    margin-bottom:1em;
    margin-top: 1em;

}

/*Estilo para las lineas horizontales de separación de texto*/
.linea-horizontal {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom:3em;
    margin-top: 3em;
}


/*-------------------Fin de estilos de informacion-------------------*/


/*-----------MENSAJE ERROR DATOS INCORRECTOS INICIO SESIÓN-----------*/

#mensaje-error{
    display: none;
    color: #c70202;
    padding: 0.5rem;
}

/*--------ACABA MENSAJE ERROR DATOS INCORRECTOS INICIO SESIÓN--------*/

/*---------------------Estilos para los popups de inicio de sesión, formularios y trabajadores------------*/
/* Popup de fondo oscuro */
#popup {
    /* Agregar flexbox para centrar contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Posición fija y a pantalla completa */
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: visibility 0s, opacity 0.5s;
}

/* Mostrar popup cuando se agrega la clase "mostrar" */
#popup.mostrar {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}

/* Contenido del popup */
.popup-contenido {
    /* Agregar flexbox para centrar contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Fondo blanco y borde redondeado */
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    max-width: 60%;
    max-height: 25%;
    overflow: auto;
    height: 70%;
}

/* Botón de cerrar */
#cerrar-popup {
    /* Establecer el diseño del botón */
    width: 100%;
    height: 20%;
    border-radius: 1.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    padding: 7px;
}