/*Importamos la fuente Poppins de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Se usa tal que:      font-family: 'Poppins', sans-serif;*/

/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/*Declaramos variables en la raiz del documento*/
:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --second-color-green: #06884D;
}

/*Estilos del body*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color-white);
    color: var(--main-color-black);
}

#landing-page-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*background-image: url("images/8105c4aac55cf49fa54e3ca0a81f0e8a.png")Me parte desde el local storage*/
}

/*Estilo de cada section dentro de la sección de información general */
main section  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

p {
    font-size: 0.8em;
    font-weight: 400;
}
h1 {
   justify-content: center;
    align-content: center;
}

h2 {
    font-weight: 600;
}