/*--------------------------------------------------------*/
/*HOJA DE ESTILOS PARA EL BANNER Y EL MENU DESPLEGABLE*/
/*--------------------------------------------------------*/

/*Importamos la fuente Poppins de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Se usa tal que:      font-family: 'Poppins', sans-serif;*/

/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    word-break: break-word;
}

/*Declaramos variables en la raiz del documento*/
:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --second-color-green: #06884D;
    --tamaño-28-letra: 1.6em;
}

/*Estilos del body*/
body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color-white);
    color: var(--main-color-black);
    flex-direction: column;
}

p {
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 1.4em;
}

h1 {
    font-weight: 800;
    font-size: 220%;
}

h2 {
    font-weight: 600;
    font-size: 140%;
    margin-bottom: 0.4em;
}

h3 {
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

/*Estilo botones verdes y blancos como CTA*/
.boton-verde-blanco-mapa {
    width: 85%;
    height: 105%;
    border-radius: 3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 170%;
    padding: 0.5em 0.6em;
    display: block;
    cursor: pointer;
}

.boton-verde-blanco-mapa:hover {
    background: var(--second-color-green-hover);
}

/*Estilo para los párrafos SemiBold de un poco más de tamaño que los párrafos estándar*/
.parrafo-negrita {
    font-size: 110%;
    font-weight: 600;
}

/*Contenedor completo, wrapper de toda la monitorización*/
.wrapper {
    margin-top: 12vh;
    padding: 10% 7% 15%;
}

/*------------------------Comienza el estilo del espacio personal------------------------*/

/*Estilo contenedor de las notificaciones huertos*/
#contenedor-notificaciones {
    display: flex;
    justify-content: flex-end;
}
/*Estilo panel circular notificaciones espacio personal*/
#panel-circular-notificaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 2em;
    padding: 0.4em;
    width: 60%;
    height: auto;
    margin-bottom: 0.7rem;
    cursor: pointer;
}

/*Estilo parrafo con el numero de notificaciones*/
#parrafo-numero-notificaciones {
    display: flex;
    margin: 0;
    font-size: 100%;
    font-weight: 500;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*Estilo icono campana para notificaciones*/
#icono-campana-notificaciones {
    width: 2.1em;
    height: 2.2em;
}

/*Estilo del dialogo de notifiacones popup*/
#desplegable-popup-notificaciones {
    width: 20em;
    height: 29em;
    border-radius: 1.1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 1.7em;
    outline: 0;
    border: none;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
}

/*Estilo popup de su backdrop dialogo de las notificaciones*/
#desplegable-popup-notificaciones::backdrop {
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
    /**z-index: 9999; /* Posición del cuadro de diálogo por encima del resto de elementos */
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
    position: fixed; /* Posición fija */
}

/*Estilo cabecera del popup de las notificaciones*/
#cabecera-popup-notificaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.2em;
}
/*Estilo para icono de cerrar del dialogo desplegable de notificaciones*/
#cerrar-dialogo-notificaciones {
    width: 2.3em;
    height: 2.3em;
    cursor: pointer;
}

/*Estilo para cada contenedor de notificaciones especificas dentro del dialog*/
.contenedor-notificacion-especifica {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Estilo de textos de cada notificacion en las notificaciones*/
.notificacion-especifica-texto {
    width: 11em;
}

/*Estilo para el texto de fecha de cada notificacion*/
.notificacion-especifica-fecha>p{
    padding-left: 1em;
    font-weight: 700;
    text-align: center;
}
/*Estilo del contenedor completo de la monitorizacion, panel con sombra*/
#contenedor-monitorizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.5% 5% 4.5% 4.5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 1.1em;
    margin-top: 0.7em;
    margin-bottom: 3.2em;
}

/*Estilo contenedor que contiene el select de nombres de huerto*/
#contenedor-nombre-huerto {
    display: flex;
    justify-content: center;
}

/*Dropdown list para cambiar de huerto y cambiar el nombre*/
select {
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 0.26em;
    background-image: none;
    border:0!important;
    width: 80%;
    height: 1.3em;
    cursor:pointer;
    text-align: center;
    font-size: 170%;
    overflow: hidden;
    margin-right: 1rem;
}

/*Estilo para el contenedor que cubre al boton de editar el nombre del huerto*/
#contenedor-boton-editar-nombre-huerto  {
    font-size: 1.7rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*Hover para cuando pasas por encima del boton de editar nombre*/
#contenedor-boton-editar-nombre-huerto:hover {
    color: var(--second-color-green-hover);
}

/*Estilo del dialogo depopup cambiar nombre*/
#desplegable-popup-cambiar-nombre-huerto {
    width: 20em;
    height: 23.5em;
    border-radius: 1.1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 1.7em;
    outline: 0;
    border: none;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
}

/*Estilo popup de su backdrop dialogo*/
#desplegable-popup-cambiar-nombre-huerto::backdrop {
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
    /**z-index: 9999; /* Posición del cuadro de diálogo por encima del resto de elementos */
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
    position: fixed; /* Posición fija */
}

/*Estilo cabecera del popup*/
#cabecera-popup-cambiar-nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.2em;
}
/*Estilo para icono de cerrar del dialogo desplegable*/
#cerrar-dialogo-cambiar-nombre {
    margin-left: 0.7rem;
    width: 2.3em;
    height: 2.3em;
    cursor: pointer;
}

/*Estilo formulario para cambiar el nombre del huerto*/
#formulario-cambiar-nombre-huerto {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
}
/*Estilo para el label del formulario de cambiar nombre de huerto*/
#formulario-cambiar-nombre-huerto label {
    display: flex;
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-top: 1.1rem;
    color: #333333;
}

/*Estilo para el button del formulario de cambiar nombre de huerto*/
#formulario-cambiar-nombre-huerto button {
    text-align: center;
    width: 100%;
    height: 3rem;
    margin-top: 1.8rem;
    font-size: 130%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/*Estilo para el input de cambiar nombre del popup*/
#nombre-huerto-form {
    width: 100%;
    padding: 15px;
    font-size: 0.9em;
    border-radius: 10px;
    border-width: 1px;
    font-family:'Poppins', sans-serif;
    text-align: left;
}
/*Estilo para el borde del input*/
#nombre-huerto-form:focus {
    outline: none;
    border: 2px #06884DFF solid;
}

/*Contenedor con la fecha y la hora del huerto*/
#contenedor-fecha-hora-huerto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Estilo de los parrafos que indican la hora y la fecha del huerto*/
#contenedor-fecha-hora-huerto p{
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 0.4em;
    margin-bottom: 0;
    font-size: 100%;
}

/*Estilo para el contenedor de parametros en tiemop real*/
.contenedor-parametros-tiempo-real-huerto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;

}

/*Estilo para el contenedor de temperatura tiempo real*/
#contenedor-parametros-tiempo-real-huerto-temperatura{
    justify-content: center;
}

/*Estilo para todos los iconos de representacion de cada dato en tiempo real*/
.icono-dato-tiempo-real {
    width: 1.6em;
    height: 1.6em;
}
/*Cada contenedor de parametros en tiempo real especifico*/
.contenedor-parametro-monitorizacion-especifico {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 0.85em;
    padding: 0.5em;
    justify-content: space-between;
    margin: 0.4rem;
}

/*Estilo parrafos dentro de cada contenedor de los parametros de monitorizacion*/
.contenedor-parametro-monitorizacion-especifico p{
    font-weight: 450;
    font-size: 90%;
    margin: 0;
}

/*Estilo del icono de grafica para acceder a el histórico de cada parámetro*/
.icono-boton-grafica-historico {
    cursor: pointer;
    width: 1.7em;
    height: 1.7em;
    border-radius: 0.3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

/*Contenedor con la grafica de parametros y los botones de filtrar*/
#contenedor-graficas-con-filtros {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 0.85em;
    padding: 0.2em;
    margin-top: 0.7rem;
    margin-bottom: 0.7em;
}
/*Contenedor con solo la grafica de parametros, sin los botones de filtrar por dia,mes,año*/
#contenedor-grafica-historial {
    height: 36vh;
}

/*Contenedor para los botones de filtro de la grafica*/
#contenedor-botones-filtro-grafica {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.9em;
    margin-top: 0.4em;
}

/*Estilo de los botones que estan dentro del contenedor de botones de filtro de la grafica*/
#contenedor-botones-filtro-grafica>button {
    width: 22%;
    height: 6%;
    border-radius: 3em;
    border: none;
    background: var(--second-color-green);
    color: var(--main-color-white);
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3.3vw;
    padding: 0.2em 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*Contenedor con la tarjeta de la informacion metereologica*/
#contenedor-informacion-metereologica {

}

/*Contenedor con la temperatura en tiempo real de la informacion metereologica*/
#contenedor-temperatura-metereologia p{
    text-align: center;
    font-weight: 700;
    font-size: 90%;
    margin: 0;
    align-content: center;
}

/*Contenedor con la localizacion de la informacion meterologica*/
#contenedor-localizacion-metereologia p{
    text-align: center;
    font-weight: 700;
    font-size: 90%;
    margin: 0;
    align-content: center;
}

/*Imagen/icono representando la situación metereológica*/
.icono-estado-metereologico {
    width: 2em;
    height: 2em;
}

#datos-cada-30-s{
    text-align: center;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-bottom: 0.5rem;
}

/*Estilo contenedor con el boton para acceder al mapa con los huertos*/
#contenedor-boton-mapas {
    display: flex;
    justify-content: center;
    font-size: 74%;
    height: auto;
}

/*Estilo del dialogo de notifiacones popup*/
#desplegable-popup-mapa {
    width: 20em;
    height: 29em;
    border-radius: 1.1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 1.7em;
    outline: 0;
    border: none;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
    background-image: url("../images/mapa-popup-imagen.png");
    background-repeat: no-repeat;
}

/*Estilo popup de su backdrop dialogo de las notificaciones*/
#desplegable-popup-mapa::backdrop {
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra el cuadro de diálogo */
    /**z-index: 9999; /* Posición del cuadro de diálogo por encima del resto de elementos */
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
    position: fixed; /* Posición fija */
}

/*Estilo cabecera del popup del mapa*/
#cabecera-popup-mapa {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 1.2em;
}
/*Estilo para icono de cerrar del dialogo desplegable de notificaciones*/
#cerrar-dialogo-mapa {
    background-color: #06884D;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.32) 0 5px 8px;
    width: 2.3em;
    height: 2.3em;
    cursor: pointer;
}

.contenedor-icono-huerto-mapa {
    color: white;
    margin: 4em;
    text-align: center;
    justify-content: center;
}
/*Estilo para cada icono de huerto dentro del mapa despleglable*/
.icono-huerto-mapa {
    width: 3em;
    height: 3em;
    background-color: white;
    cursor: pointer;
}

/*------------------------Termina el estilo del espacio peresonal------------------------*/

/*------------------------Comienza footer------------------------*/

/*Wrapper para aplicar el padding al footer*/
.wrapper-footer {
    padding: 1em 7%;
}

/*Estilo footer*/
#footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 100%;
    width: 100%;
    background-color: var(--second-color-green);
    color: var(--main-color-white);
}

/*Estilo que poseen los enlaces de politica de privacidad y condiciones, margenes entre cada uno */
#footer-bottom a{
    margin-right: 0.6em;
    margin-left: 0.6em;
}

/*Margenes para el texto de copyrigth del footer*/
#footer-bottom p {
    margin-top: 1em;
    margin-bottom: 0;
}
/*------------------------Termina footer------------------------*/
